body{
    background-color: black;
    align-content: center;
    text-align: center;
    color: white;
    font-style:oblique;

    
    
}

img{

}

h1{
    text-decoration: dashed;    
}

a{
    color: cyan;
}
